@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
/* Nav bar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
    

}
html body{
    width: 100%;
    height: 100%;
}
.container{
    width: 90%;
    margin: 0 auto;
    
}
.logo-1{
    color: rgb(0, 19, 7);
    font-size: 25px;
    padding: 10px 10px;
}
.flex {
    display: flex;
    

}
nav ul{
    gap: 25px;
    align-items: center;
    padding: 10px;
}
nav ul li{
    list-style: none;
}
nav {
    
    background-color: rgb(221, 78, 102);
    justify-content: space-between;
}
/* Main-1 */

.main1{
    background-color: #fceef1;
    height: 82vh;
}
.main-wrap{
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.left-main{
    width: 50%;
}

.right-main{
    width: 50%;
}
.left-main h2{
    font-size: 55px;
    font-weight: bold;
    color: rgb(43, 39, 39);
}
.right-main img{
    padding-top: 10px;
}
.left-main p{
    font-size: 13px;
    margin: 20px 0px;
    color: gray;
}
.left-main button{
    background-color: #e55473;
    color: white;
    padding: 13px 25px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    cursor: pointer;

}
/* Main-2 */
.main-2{
    padding: 80px 0;
}
.main-2 .Title {
    justify-content: center;
    text-align: center;
}
.main-2 .Title h1{
    font-size: 20px;
    color: rgb(43, 39, 39);
}
.main-2 .Title p{
    width: 40%;
    margin: 0 auto;
    font-size: 12px;
    color: gray;
    padding-top: 15px;
}
.B-box{
    justify-content: space-between;
    align-content: center;
    gap: 20px;
    margin-top: 40px;
}
.box {
    width: 100%;
    height: 420px;
    text-align: center;
}
.box li{
    list-style: none;
    cursor: pointer;
    margin-top: 15px;
}
.B-box img{
    height: 300px;
    
}
.bgd-1{
    background-color: #f2dee8;
    border-radius: 50% 50% 0 0;
    height: 100%;
    justify-content: center;
    align-items: end;
    display: flex;
}
.bgd-2{
    background-color: #daf0f1;
    border-radius: 50% 50% 0 0;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.bgd-3{
    background-color: #e4ecdc;
    border-radius: 50% 50% 0 0;
    height: 100%;
    justify-content: center;
    align-items: end;
    display: flex;
}